/*
Company: Spectrum Air Conditioning & Heating
Developer: Adam Culpepper | @adamculpepper
*/

@font-face {
	font-family:'Blackjack';
	src:url('/_includes/assets/fonts/black_jack-webfont.eot');
	src:url('/_includes/assets/fonts/black_jack-webfont.eot?#iefix') format('embedded-opentype'),
		url('/_includes/assets/fonts/black_jack-webfont.woff') format('woff'),
		url('/_includes/assets/fonts/black_jack-webfont.ttf') format('truetype'),
		url('/_includes/assets/fonts/black_jack-webfont.svg#blackjackregular') format('svg');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

@font-face {
	font-family:'Archivo Narrow';
	src:url('/_includes/assets/fonts/archivonarrow-regular-webfont.woff2') format('woff2'),
		url('/_includes/assets/fonts/archivonarrow-regular-webfont.woff') format('woff');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}


/* Resets */
body, html {padding:0; height:100%;}
body {background:url(/_includes/assets/img/bg-body.jpg) no-repeat top center; background-size:100% 608px; background-attachment:scroll; color:#323232;}
a {text-decoration:none; color:#067AAE;}
a:hover {text-decoration:none;}
a img {border:0;}
:focus {outline:0;}


/* Global */
::-webkit-input-placeholder {color:#487395;}
:-ms-input-placeholder {color:#487395;}
:-moz-placeholder {color:#487395;}
::-moz-placeholder {color:#487395;}
.hide {display:none;}
.borderless {box-shadow:none!important;}
.flex-center {display:flex; align-items:center; justify-content:center;}
.flex-center-v {display:flex; align-items:center;}
.flex-center-h {display:flex; justify-content:center;}
.overflow {overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.red {background:lightsalmon!important;}
.green {background:lightgreen!important;}
.blue {background:lightblue!important;}
img.pretty {border:2px solid #FFF; box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.5);}
h1, h2, h3, h4, h5, h6 {color:#104C7C; font:30px 'Archivo Narrow', san-serif; text-transform:uppercase; margin:0; padding:0;}
h1 {font-size:40px;}
h2 {font-size:36px; margin-bottom:30px;}
h3 {font-size:24px; margin-bottom:15px; padding-bottom:5px; color:#BB312B; border-bottom:1px solid #DBDBDB;}
h4 {font-size:18px;}
h5 {font-size:11px;}
hr {height:1px; border:0; background:#CCC; margin:20px 0;}
label {display:block; font-weight:500; margin-bottom:0;}
ul.list-unstyled,
.list-unstyled ul {padding:0; list-style:none;}
.form-control {color:#0D2131; background:#fafafa; border:1px solid #DDD;}
.btn {font-weight:bold; text-transform:uppercase; border:0;}
.btn i {font-size:13px;}
.btn-lg {letter-spacing:1px;}
.btn-primary {background:#BB312B;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {background-color:#A62924!important;}


/* Sticky Footer */
body {display:flex; flex-direction:column;}
main {flex:1 0 auto;}
footer {flex-shrink:0;}


/* Header */
header .navbar-container {min-height:151px; transition:max-height 200ms linear;}
header .call-block {
	padding:10px;
	text-shadow:1px 1px 0 rgba(0, 0, 0, 0.25);
	background:#1D4C73;
	background:rgba(255, 255, 255, 0.10);
	box-shadow:
		-1px -1px 0 0 rgba(255, 255, 255, 0.20),
		1px 1px 0 0 rgba(0, 0, 0, 0.20);
	border-radius:5px;	
}
header .call-block .text {font:bold 21px 'Blackjack', san-serif; color:#BB312B;}
header .call-block .number {color:#FFF; font:bold 27px 'Archivo Narrow', san-serif; text-shadow:5px 5px 5px rgba(0, 0, 0, 0.15);}


/* Navigation */
header nav ul {background:none; position:relative; padding:0; border:0; list-style:none;}
header nav li a {display:block; padding:15px; color:#96C0E2; font:bold 13px 'Archivo Narrow', san-serif; text-shadow:2px 2px 0 rgba(0, 0, 0, 0.30); text-transform:uppercase;}
header nav li a:hover {background:none; box-shadow:none; border:0; color:#FFF;}
header nav li a.active {color:#FFF!important;}
header nav .navbar-brand img {max-height:120px; transition:max-height 200ms linear;}
header nav .navbar-toggler {color:#fff;}
header nav .navbar-toggler + .navbar-collapse {background:rgba(0, 56, 101, 0.70); backdrop-filter:blur(5px);}


/* Scrolled */
body.scrolled .fixed-top {background:rgba(0, 56, 101, 0.80); backdrop-filter:blur(5px);}
body.scrolled header .navbar-container {min-height:122px;}
body.scrolled header .navbar-brand img {max-height:80px;}
body.scrolled header nav .navbar-toggler + .navbar-collapse {background:none; backdrop-filter:none;}


/* Banner */
#banner {position:relative; /*height:50px;*/ /*margin-bottom:6px;*/}
#banner .slider {position:relative; /*top:2px;*/ z-index:2;}
#banner .slider img {width:100%;}
#banner .slider #prev,
#banner .slider #next {
	position:absolute;
	top:40%;
	z-index:999;
	color:#FFF;
	font-size:30px;
	cursor:pointer;
	-webkit-transition:all .50s ease-out;
	   -moz-transition:all .50s ease-out;
	        transition:all .50s ease-out;
	}
#banner .slider #prev {left:30px;}
#banner .slider #next {right:30px;}
#banner .slider #prev:hover,
#banner .slider #next:hover {color:#BBB;}


/* Content */
#content {background:#FFF; padding:30px 0;}
#content .row.end {margin-bottom:50px;}
#content img.padding {margin:0 20px 20px 0;}
#content img.padding.right {margin:0 0 20px 20px;}
#content .no-padding {padding:0;}
#content .bottom-padding {padding-bottom:30px;}
#content .col-left {padding-right:30px; border-right:1px solid #CCC;}
#content .col-right {padding-left:30px;}


/* Sidebar */
#content .sidebar {color:#0D3657; line-height:25px;}
#content .sidebar h4 {margin:30px 0 10px 0;}
#content .sidebar h4.red {color:#BB312B;}
#content .sidebar .fa-phone {position:relative; top:2px;}
#content .sidebar.brands a {padding:0;}
#content .sidebar.brands img {width:100%; margin-bottom:10px; border-bottom:1px solid #eee;}
#content .sidebar.brands h3 {margin-left:15px; margin-right:3px;}
#content .sidebar.brands h4 {margin:15px 0 5px 0; clear:both;}
#content .sidebar.brands div:first-of-type h4 {margin-top:0;}


/* Footer */
footer #footer-top {background:#DBDBDB;}
footer #footer-top h4 {margin-bottom:10px; font-size:30px; font-weight:bold;}
footer #footer-top .form {color:#FFF; background:#0C3657; border-radius:3px 3px 0 0; padding:20px 25px; -webkit-box-shadow:inset 0 0 50px 0 rgba(0, 0, 0, 0.40); box-shadow:inset 0 0 50px 0 rgba(0, 0, 0, 0.40);}
footer #footer-top .form .top {position:relative; z-index:3; color:#A8C4DA; font:32px 'Blackjack', san-serif;}
footer #footer-top .form .bot {position:relative; z-index:2; color:#FFF; font:bold 28px 'Archivo Narrow', san-serif; text-transform:uppercase;}
footer #footer-top .form textarea {max-height:200px;}
footer #footer-top .form .form-control {width:100%; background:#A8C4DA; border:0;}
footer #footer-top .form .form-control:focus {background:#7AA2C3;}

footer #footer-bottom {background:#E6E6E6; color:#0D3657; font-family:'Archivo Narrow', san-serif; font-weight:700; letter-spacing:1px;}
footer #footer-bottom a {color:#0D5793;}
footer #footer-bottom .fa-circle {color:#BB312B; font-size:8px; position:relative; top:-2px;}


/* Home */
#page-home #banner {height:auto;}
#page-home #banner .cycle-slideshow {height:calc(100vw * 0.346); overflow:hidden; margin:0;}
#page-home #banner .cycle-overlay {width:300px; padding:20px 40px; position:absolute; top:40%; left:100px; bottom:auto; opacity:1; border-radius:4px; color:#FFF; background:#BB312B; box-shadow:inset 0 0 85px 0 rgba(0, 0, 0, 0.45);}

#page-home #content .text1,
#page-home #content .text2 {text-shadow:3px 3px 0 rgba(0, 0, 0, 0.20);}
#page-home #content .text1 {position:relative; z-index:3; color:#0063B3; font:55px 'Blackjack', san-serif; letter-spacing:2.3px;}
#page-home #content .text2 {position:relative; z-index:2; color:#003865; font:72px 'Archivo Narrow', san-serif; letter-spacing:-2px; line-height:65px; font-weight:bold; text-transform:uppercase;}


/* Testimonials */
#page-testimonials #content span {display:block;}
#page-testimonials #content .intro {background:#CEDAE4; background:rgba(16, 76, 124, 0.2); padding:20px 40px; margin-bottom:30px;}
#page-testimonials #content .box {padding:20px 40px 10px 40px; position:relative; background:#F5F5F5; margin-bottom:20px; border-top:1px solid #DBDBDB; border-bottom:1px solid #DBDBDB;}
#page-testimonials #content .quote {padding-bottom:10px; font-style:italic;}
#page-testimonials #content .client {color:#999;}
#page-testimonials #content .quote:before,
#page-testimonials #content .quote:after {position:absolute; color:#CCC; font-size:45px; font-family:'Georgia', serif; font-weight:bold;}
#page-testimonials #content .quote:before {content:'\201C'; left:7px; top:2px;}
#page-testimonials #content .quote:after {content:'\201D'; right:15px; bottom:-17px;}


/* FAQs */
#page-faqs #content ul {list-style-type:decimal; padding:0; list-style-position:inside;}
#page-faqs #content ul li {font-weight:bold;}
#page-faqs #content ul ul {list-style-type:lower-alpha; margin-bottom:20px; padding-left:20px;}
#page-faqs #content ul ul li {font-weight:normal;}


/* Coupon */
#page-coupon #content img.coupon {cursor:pointer;}
#page-coupon #content h2 {margin-bottom:0;}
#page-coupon #content h3 {border:0;}


/* Bootstrap Helpers */
/* Add-on: Bootstrap 4, hidden-{breakpoint}-{up/down} */
/* taken from Bootstrap 4, alpha 6 */
.hidden-xs-up {display:none!important;}
@media (max-width:575px)	{ .hidden-xs-down	{display:none!important;} }
@media (min-width:576px)	{ .hidden-sm-up		{display:none!important;} }
@media (max-width:767px)	{ .hidden-sm-down	{display:none!important;} }
@media (min-width:768px)	{ .hidden-md-up		{display:none!important;} }
@media (max-width:991px)	{ .hidden-md-down	{display:none!important;} }
@media (min-width:992px)	{ .hidden-lg-up		{display:none!important;} }
@media (max-width:1199px)	{ .hidden-lg-down	{display:none!important;} }
@media (min-width:1200px)	{ .hidden-xl-up		{display:none!important;} }
.hidden-xl-down {display:none!important;}


/* Responsive Breakpoints */

/* Small (sm) and up*/
@media (min-width:576px) {
	#page-home #content .text1 {font-size:62px;}
	#page-home #content .text2 {font-size:72px;}

	#page-home #banner {margin-bottom:0;}
	#page-home #banner .banner-overlay2 {bottom:-3px;}

	#page-home #banner .cycle-slideshow {height:187px;}
	#page-home #banner .slider #prev,
	#page-home #banner .slider #next {top:50%;}
}


/* Medium (md) and up */
@media (min-width:768px) {
	#banner .banner-overlay1 {position:absolute; z-index:1; bottom:8px; width:100%; height:40px; background:url(/_includes/assets/img/bg-banner-overlay1.png) no-repeat top center; background-size:100% 40px;}
	#banner .banner-overlay2 {position:absolute; z-index:3; bottom:-7px; width:100%; height:30px; background:url(/_includes/assets/img/bg-banner-overlay2.png) no-repeat top center; background-size:100% 30px;}

	#content {padding:30px 0 50px 0;}

	#page-home #banner .cycle-slideshow {height:253px;}
}


/* Large (lg) and up */
@media (min-width:992px) {
	header nav li a {display:inline-block; border-bottom:2px solid transparent; box-shadow:1px 0 0 0 rgba(255, 255, 255, 0.20), 2px 0 0 rgba(0, 0, 0, 0.25);}
	header nav li a:hover {outline:1px solid #000; border-bottom:2px solid #B32F29; -webkit-box-shadow:inset 0 0 25px 0 rgba(0, 0, 0, 0.40); box-shadow:inset 0 0 25px 0 rgba(0, 0, 0, 0.40);}
	header nav .navbar-toggler + .navbar-collapse {background:none;}

	footer #footer-top .form {margin-top:-10px;}

	.sidebar {border-left:1px solid #dee2e6;}

	#page-home #banner .cycle-slideshow {height:341px;}
}


/* Extra Large (xl) and up */
@media (min-width:1200px) {
	header nav li a {font-size:15px; padding:15px 20px;}

	header .call-block {font-size:21px;}
	header .call-block span {font-size:27px;}
	header .call-block .text-white {letter-spacing:1px;}

	#page-home #banner .cycle-slideshow {height:407px;}
	#page-home #banner .slider #prev {left:-50px;}
	#page-home #banner .slider #next {right:-50px;}
}
