{% set address1 = metadata.company_info.physical_address.address1 %}
{% set city = metadata.company_info.physical_address.city %}
{% set state = metadata.company_info.physical_address.state %}
{% set zipcode = metadata.company_info.physical_address.zipcode %}

<footer>
	<div id="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 py-4 pr-lg-5">
					<h4>{{ metadata.footer.block_1.title }}</h4>
					<p>{{ metadata.footer.block_1.text }}</p>
					<a class="btn btn-primary" href="/about">Read More About Us<i class="fa fa-chevron-right ml-3"></i></a>
				</div>
				<div class="col-lg-4">
					<div class="form">
						<span class="top">Let Us Know How</span>
						<span class="bot">We Can Service You?</span>
						[form]
					</div>
				</div>
				<div class="col-lg-4 py-4 pl-lg-5">
					<h4>{{ metadata.footer.block_2.title }}</h4>
					<p>{{ metadata.footer.block_2.text }}</p>
					<a class="btn btn-primary" href="/testimonials">Read Testimonials<i class="fa fa-chevron-right ml-3"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-bottom">
		<div class="container">
			<div class="d-md-flex">
				<div class="copyright">&copy; Copyright 2020 <a href="/">{{ metadata.company_info.company_name }}</a></div>
				<div class="address ml-auto d-sm-flex align-items-center">
					<div class="d-sm-inline-block">
						{{ address1 }} {{ city }}, {{ state }} {{ zipcode }}
						<span class="dot"></span>
						<span type="tel">{{ metadata.company_info.phone_number }}</span>
					</div>
					<div class="social ml-sm-3 d-block d-sm-inline-block">
						<a target="social" class="fa fa-2x fa-facebook-square" href="{{ metadata.social_media.facebook_url }}"></a>
						<a target="social" class="fa fa-2x fa-twitter-square" href="{{ metadata.social_media.twitter_url }}"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

{% set js %}
	javascript
{% endset %}
<script>{{ js | jsmin | safe }}</script>

<script src="/_includes/assets/js/jquery.min.js"></script>
<script src="/_includes/assets/js/jquery-ui.min.js"></script>
<script src="/_includes/assets/js/bootstrap.min.js"></script>
<script src="/_includes/assets/js/jquery.cycle2.js"></script>
<script src="/_includes/assets/js/jquery.cycle2.caption2.min.js"></script>
<script src="/_includes/assets/js/scripts.js"></script>


