<form name="contact-footer" method="post">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<input type="text" name="FirstName" id="FirstName" class="cat_textbox" maxlength="50" placeholder="First Name" />
		</div>
		<div class="col-md-6 col-sm-12">
			<input type="text" name="LastName" id="LastName" class="cat_textbox" maxlength="50" placeholder="Last Name" />
		</div>
		<div class="col-md-6 col-sm-12">
			<input type="email" name="EmailAddress" id="EmailAddress" class="cat_textbox" maxlength="100" placeholder="Email Address" />
		</div>
		<div class="col-md-6 col-sm-12">
			<input type="tel" name="HomePhone" id="HomePhone" class="cat_textbox" maxlength="20" placeholder="Phone Number" />
		</div>
		<div class="col-md-12 col-sm-12">
			<textarea name="CAT_Custom_869" id="CAT_Custom_869" cols="10" rows="4" class="cat_listbox" maxlength="2000" placeholder="Comments"></textarea>
		</div>
		<div class="col-md-12 col-sm-12 submit">
			<input class="cat_button btn btn-primary" type="submit" value="Submit" id="catwebformbutton" />
		</div>
	</div>
</form>
