<form name="contact-footer" class="mt-3" method="post" data-netlify="true">
	<div class="row">
		<div class="col-md-6 pr-md-2">
			<div class="form-group">
				<label for="first-name">First Name</label>
				<input type="text" class="form-control" name="first-name" id="first-name" maxlength="50" placeholder="John" />
			</div>
		</div>
		<div class="col-md-6 pl-md-2">
			<div class="form-group">
				<label for="last-name">Last Name</label>
				<input type="text" class="form-control" name="last-name" id="last-name" maxlength="50" placeholder="Smith" />
			</div>
		</div>
		<div class="col-md-6 pr-md-2">
			<div class="form-group">
				<label for="email-address">Email Address</label>
				<input type="email" class="form-control" name="email-address" id="email-address" maxlength="100" placeholder="you@email.com" />
			</div>
		</div>
		<div class="col-md-6 pl-md-2">
			<div class="form-group">
				<label for="phone-number">Phone Number</label>
				<input type="tel" class="form-control" name="phone-number" id="phone-number" maxlength="20" placeholder="225-123-4567" />
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group">
				<label for="comments">Comments</label>
				<textarea class="form-control" name="comments" id="comments" cols="10" rows="4" maxlength="2000" placeholder=""></textarea>
			</div>
		</div>
		<div class="col-md-12">
			<div class="form-group text-center mb-0">
				<input class="btn btn-primary" type="submit" value="Submit" />
			</div>
		</div>
	</div>
</form>
