<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or renderData.title or metadata.title }}</title>
	<meta name="description" content="Air Conditioning & Heating Service and Maintenance.">

	{% set css %}
		{% include "assets/css/bootstrap.min.css" %}
		{% include "assets/css/font-awesome.min.css" %}
		{% include "assets/css/styles.css" %}
	{% endset %}
	<style>{{ css | cssmin | safe }}</style>
</head>
