<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or renderData.title or metadata.title }}</title>

	<link rel="stylesheet" type="text/css" href="/_includes/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/_includes/assets/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/_includes/assets/css/jquery.cycle2.css">
	<link rel="stylesheet" type="text/css" href="/_includes/assets/css/styles.css">
</head>
