<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or renderData.title or metadata.title }}</title>
	{% set css %}
		{% include "assets/css/bootstrap.min.css" %}
		{% include "assets/css/font-awesome.css" %}
		{% include "assets/css/jquery.cycle2.css" %}
		{% include "assets/css/styles.css" %}
	{% endset %}
	<style>{{ css | cssmin | safe }}</style>

	{% set js %}
		{% include "assets/js/jquery.min.js" %}
		{% include "assets/js/jquery-ui.min.js" %}
		{% include "assets/js/bootstrap.min.js" %}
		{% include "assets/js/jquery.cycle2.js" %}
		{% include "assets/js/jquery.cycle2.caption2.min.js" %}
		{% include "assets/js/scripts.js" %}
	{% endset %}







<style>
/* Sticky Footer */
body {display:flex; flex-direction:column;}
#content {flex:1 0 auto;}
footer {flex-shrink:0;}
</style>









</head>
