<!DOCTYPE html>
<html lang="en">
	{% include "components/head.njk" %}

	{% set pageSlug %}
		{% if permalink == '/' %}
			page-home
		{% else %}
			page-{{permalink | replace("index.html", "") | slug}}
		{% endif %}
	{% endset %}

	<body id="{{ pageSlug | trim}}">
		<header>

			<div class="navbar-container">
				<div class="fixed-top">
					<div class="container px-0 py-3">
						<nav class="navbar navbar-expand-lg py-0">
							<a class="navbar-brand p-0" href="index.html">
								<img src="/_includes/assets/img/logo-spectrum.png" alt="{{ metadata.company_info.company_name }}" />
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
								<i class="fa fa-bars fa-2x" aria-hidden="true"></i>
							</button>
							<div class="collapse navbar-collapse justify-content-between" id="navbarNav">
								{% include "components/nav.njk" %}

								<div class="navbar-nav">
									<div class="call-block">
										<a href="tel:{{ metadata.company_info.phone_number }}">
											<div class="hidden-lg-down">
												<div class="text">Call Us Today</div>
												<div class="number">{{ metadata.company_info.phone_number }}</div>
											</div>
											<div class="hidden-xl-up">
												<div class="text text-white">Call Us Today <i class="fa fa-phone" aria-hidden="true"></i></div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</nav>
					</div>
				</div>
		    </div>

			{% include "components/banner.njk" %}
		</header>

		<main>
			<div id="content">
				<div class="container">

					<div class="row">
						<div class="col-sm-12">
							{% if section != 'home' %}
								<h2>{{ title }}</h2>
								{% if subtitle %}
									<h3>{{ subtitle }}</h3>
								{% endif %}
							{% endif %}
						</div>
						
						<div class="col-lg-{% if sidebar %}8 border-right{% else %}12{% endif %}">
							{{ layoutContent | safe }}

							{% if section == 'contact' %}
								{% include "components/form-contact.njk" %}
							{% endif %}
						</div>

						{% if sidebar %}
						<div class="col-lg-4 mt-5 mt-lg-0">
							{% include "components/sidebars.njk" %}
						</div>
						{% endif %}
						
					</div>

				</div>
			</div>
		</main>

		{% include "components/footer.njk" %}

	</body>
</html>
