---
layout: layouts/base.njk
section: faqs
---

{{ layoutContent | safe }}

<ul>
{%- for faq in collections.faqs -%}
	<li>
		{{ faq.data.title }}
		<ul>
			{%- for cause in faq.data.causes -%}
				<li>{{ cause }}</li>
			{%- endfor -%}
		</ul>
	</li>
{%- endfor -%}
</ul>
