---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

@{{ variables.environment }}@

<script src="/_includes/assets/js/jquery.min.js"></script>
<script src="/_includes/assets/js/jquery.cycle2.min.js"></script>
