---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

<script rel="preload" src="/_includes/assets/js/jquery.min.js"></script>
<script rel="preload" src="/_includes/assets/js/jquery.cycle2.min.js"></script>
