---
layout: layouts/base.njk
section: services
---

{{ layoutContent | safe }}

<h3>Services List</h3>
{%- for service in collections.services -%}
	<div class="mb-3">
		<h4>{{ service.data.title }}</h4>
		{{ service.data.body }}
	</div>
{%- endfor -%}


<h3 class="mt-5">Products</h3>
{%- for product in collections.products -%}
	<div class="mb-3">
		<h4>{{ product.data.title }}</h4>
		{{ product.data.body }}
	</div>
{%- endfor -%}
