---
layout: layouts/base.njk
section: testimonials
---
{{ layoutContent | safe }}

{%- for testimonial in collections.testimonials -%}
	<div class="box">
		<span class="quote">{{ testimonial.data.body }}</span>
		<span class="client">{{ testimonial.data.title }}</span>
	</div>
{%- endfor -%}
